.page-content {
    margin: 38px 146px 0 146px;

    @media (max-width: 1024px){
      margin: 20px 25px 0 29px;
    }
  
    .single-photo-content {
      display: flex;
      font-size: 14px;

      @media (max-width: 1024px){
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
        margin: 0 29px 0 31px;
      }
    }
  
    .infos-container {
      width: 50%;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      padding-bottom: 0;

      @media (max-width: 1024px){
        width: 100%;
      }
  
      p {
        margin: 0;
        padding: 0;
      }
  
      .photo-title {
        max-width: 444px;
        font-size: 66px;
        font-style: italic;
        line-height: 1;
      }
    }
  
    .photos-container {
      width: 50%;
      
      @media (max-width: 1024px){
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  
    .line {
      display: flex;
      flex-direction: row;
      width: 96%;
  
      hr {
        width: 100%;
        border: solid 1px $color_1;
        margin: 17px 0 0 0;
      }
    }
  
    .separator {
      display: flex;
      flex-direction: row;
      width: 100%;
  
      hr {
        width: 100%;
        border: solid 1px $color_1;
      }
    }
  
    /* CONTACT AND PREVIEW */
  
    .contact-content {
      display: flex;
      flex-direction: row;
      height: 118px;

      @media (max-width: 1024px){
        margin: 0 29px 0 31px;
      }
  
      .contact, .preview {
        width: 50%;
        height: 100%;
      }
  
      .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 45px 27px 0;
  
        .contact-text {
          font-size: 14px;
          font-weight: 300;
          font-family: $font-family_2;
          align-self: center;
        }
  
        .btn {
          font-family: $font-family_1;
          font-size: 12px;
          height: 50px;
          padding: 8px 15px;
          border-radius: 2px;
          background: $background-color_3;
          border: none;
          cursor: pointer;
          align-self: center;
        }
  
        .contact-btn {
          width: 46%;
        }
      }
  
      .preview {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: auto;
  
        .arrows {
          display: flex;
          flex-direction: row;
          gap: 29px;
          padding-bottom: 10px;
          .arrow-link {
            position: relative;
        
            .hover-thumbnail {
              display: none;
              position: absolute;
              z-index: 1;
        
              img {
                width: 81px;
                height: 71px;
              }
            }
        
            &.arrow-left:hover .hover-thumbnail {
              &.thumbnail-left {
                display: block;
                top: -80px;
                left: 0px;
              }
            }
        
            &.arrow-right:hover .hover-thumbnail {
              &.thumbnail-right {
                display: block;
                top: -80px; /* Adjust the vertical distance for thumbnail-right */
                left: -55px;
              }
            }
          }
        }
      }
    }
  
    /* YOU MAY ALSO LIKE */
  
    .gallery {
      margin-top: 77px;
  
      .you-may-also-like {
        font-size: 18px;
      }
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 53px;
  
        .home-btn {
          display: inline-block;
          width: 242px;
          height: 37px;
          text-align: center;
          line-height: 3;
        }
      }
  }

